<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBwx9wdgjALKKTcSmBfICo52-c6b_qTths</string>
	<key>GCM_SENDER_ID</key>
	<string>195881973020</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ymkStore</string>
	<key>PROJECT_ID</key>
	<string>ymkstore-746da</string>
	<key>STORAGE_BUCKET</key>
	<string>ymkstore-746da.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:195881973020:ios:01cffa4a550026e6aeb6d9</string>
</dict>
</plist>